/dep/
/out/
/Debug/
/.vscode/
/.vs/
/build/
/CMakeFiles/
/converter/.vscode/
/converter/code.png
/converter/mesh.fbx
/converter/scene.orb
/x64/
*.iobj
*.ipdb
*.pdb
*.vcxproj*
*.bat
/shader/Raw/log.txt