/dep/
/out/
/Debug/
/.vscode/
/.vs/
/build/
/CMakeFiles/
/converter/.vscode/
/converter/code.png
/converter/mesh.fbx
/converter/scene.orb
/x64/
*.iobj
*.ipdb
*.pdb
*.vcxproj*
*.exe
*.fxc
*.fxo
*.tex
*.aux
*.log
*.out
*.toc
*.synctex.gz
/shader/Raw/log.txt